.buttons {
  display: flex;
  align-items: center;
  &__modal {
    margin-left: auto;
    height: 100%;
    padding: 5px;
    background-color: salmon;
    border-radius: 20px;
    border-color: #900;
  }
}
